extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-md-12
      p
        | Loc8r was created to help people find places to sit down, enjoy their meal and then surf the net in a relaxed mood while enjoying high-speed internet.
        | <br/><br/>
